:root {
    --subcontent-bg: #ffffff;
    --tweetcard-bg: #ffffff;
    --highlight-color: #007bff;
    --button-bg: #0159b8;
    --text-color: #333333;
  }
  
  .dark-mode {
    --subcontent-bg: #1a1a1a;
    --tweetcard-bg: #1e1e1e;
    --highlight-color: #4dabf7;
    --button-bg: #1c7ed6;
    --text-color: #f8f9fa;
  }
